<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
 
    <appender name="DBAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=bilal; uid=sa; pwd=12345; database=testproject" />
      <commandText value="INSERT INTO Logs ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\logfile" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <!--<param name="File" value="Logs\\LogTest.txt"/>-->
      <!--<param name="AppendToFile" value="true"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <to value="bilal.shahzad@yahoo.com" />
      <from value="noreply@pucit.edu.pk" />
      <subject value="Error Message" />
      <smtpHost value="smtp.gmail.com" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="DEBUG"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline Date: %date %newline Thread: [%thread] %newline Level: %-5level %newline Logger: %logger %newline Host: [%property] - %newline Exception: %message%newline%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="DBAppender" />
      <appender-ref ref="EmailAppender" />
    </root>

    <logger name="DefaultAppender">
      <!--<level value="WARN" />-->
      <!--<appender-ref ref="ConsoleAppender" />-->
    </logger>

    <logger name="DatabaseAppender">
      <level value="INFO" />
      <appender-ref ref="DBAppender" />
    </logger>

    <logger name="EmailAppender">
      <level value="WARN" />
      <appender-ref ref="EmailAppender" />
    </logger>

  </log4net>

</configuration>
