/SFP/packages
/SFP/MainApplication/PUCIT.AIMRL.SFP.MainApp/bin
/SFP/NotificationServer/PUCIT.AIMRL.NotificationServer/bin
/SFP/DataFramework/PUCIT.AIMRL.SFP.Entities/bin
/SFP/Common/PUCIT.AIMRL.SFP.UI.Common/bin
/SFP/NotificationServer/PUCIT.AIMRL.NotificationEngine.DAL/bin
/SFP/NotificationServer/PUCIT.AIMRL.NotificationEngine.Entities/bin
/SFP/Common/PUCIT.AIMRL.Common.Logger/bin
/SFP/Common/PUCIT.AIMRL.Common/bin
/SFP/DataFramework/PUCIT.AIMRL.SFP.DAL/bin
/SFP/NotificationServer/PUCIT.AIMRL.NotificationEngine.DAL/obj
/SFP/NotificationServer/PUCIT.AIMRL.NotificationEngine.Entities/obj
/SFP/NotificationServer/PUCIT.AIMRL.NotificationServer/obj
/SFP/Common/PUCIT.AIMRL.Common.Logger/obj
/SFP/Common/PUCIT.AIMRL.Common/obj
/SFP/Common/PUCIT.AIMRL.SFP.UI.Common/obj
/SFP/DataFramework/PUCIT.AIMRL.SFP.DAL/obj
/SFP/DataFramework/PUCIT.AIMRL.SFP.Entities/obj
/SFP/MainApplication/PUCIT.AIMRL.SFP.MainApp/obj
/SFP/.vs
/SFP/MainApplication/PUCIT.AIMRL.SFP.MainApp/logs
