@{
    ViewBag.Title = "AdminPanels";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

@section Header
{
    @*@Scripts.Render("~/bundles/LoginAsOtherUsers")*@
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/mywebapp/Admin/mywebapp.ui.LoginAsOtherUsers.js")"></script>*@
    @Scripts.Render("~/bundles/LoginAsOtherUsers")
}
@section scripts
{
    <script type="text/javascript">

        try { ace.settings.loadState('main-container') } catch (e) { }

        $(document).ready(function () {
            //MyWebApp.UI.Viewusers.readyMain();
            MyWebApp.UI.LoginAsOtherUsers.readyMain();
        });
    </script>
    @*<script type="text/javascript">
            $(function () {
                MyWebApp.UI.LoginAsOtherUsers.readyMain();

            });
        </script>*@
    <script type="text/javascript">
        jQuery(function ($) {
            $('body').attr('class', 'login-layout light-login');
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
        //you don't need this, just used for changing background
    </script>
    @*<script type="text/javascript">
                                                            $(function () {
                                                                $("#txtUserName").autocomplete({
                                                                    source: "/Admin/AutocompleteSuggestions",
                                                                    minLength: 1,
                                                                    select: function (event, ui) {
                                                                        if (ui.item) {
                                                                            $("#txtUserName").val(ui.item.value);
                                                                            $("form").submit();
                                                                        }
                                                                    }
                                                                });
                                                            });
        </script>*@
}
<div class="main-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="center">
                    <h1></h1>
                    <img height="150" width="140" src="~/images/pucit/PUCIT_Logo.png" />
                    <h1>
                        <span class="blue" id="id-text2">Student Request Portal</span>
                    </h1>
                    <h5 class="blue" id="id-company-text">Punjab University College of Information Technology</h5>
                </div>
                <div class="space-6"></div>
                <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                    Please Enter Your Information
                                </h4>
                                <div class="space-6"></div>
                                <form>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input id="txtUserName" type="text" class="form-control" placeholder="Username" style="width:100%" />
                                            </span>
                                        </label>
                                        <div class="space"></div>
                                        <div class="clearfix">
                                            <button type="button" class="width-35 btn btn-sm btn-primary" id="lnkLogin">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">Login</span>
                                            </button>
                                        </div>
                                        <div class="space-4"></div>
                                    </fieldset>
                                </form>

                                <div class="space-6"></div>
                            </div><!-- /.widget-main -->
                            <div class="toolbar clearfix">
                                <div>
                                    <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        Forgot Password
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.widget-body -->
                    </div><!-- /.login-box -->
                    @*-------Forgot Password----------*@
                    <div id="forgot-box" class="forgot-box widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                    <i class="ace-icon fa fa-key"></i>
                                    Retrieve Password
                                </h4>
                                <div class="space-6"></div>
                                <p>
                                    Enter your email to receive access code
                                </p>
                                <form>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="email" class="form-control" placeholder="Email" id="emailID" />
                                                <i class="ace-icon fa fa-envelope"></i>
                                            </span>
                                        </label>
                                        <div class="clearfix">
                                            <button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="SendButton">
                                                <i class="ace-icon fa fa-lightbulb-o"></i>
                                                <span class="bigger-110">Send!</span>
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div><!-- /.widget-main -->
                            <div class="toolbar center">
                                <a href="#" data-target="#login-box" class="back-to-login-link">
                                    Back to login
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div><!-- /.widget-body -->
                    </div><!-- /.forgot-box -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
