@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
@section Header
{
  
    @Scripts.Render("~/bundles/ForgotPasswordLog")
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            MyWebApp.UI.ForgotPasswordLog.readyMain();
        });
    </script>
}
@section BreadCrumb
{
    <li>
        <a href='@Url.Content("~/Reports/")'>Reports</a>
    </li>
    <li>
        <a href='@Url.Content("~/Reports/ForgotPasswordLog/")'>Forgot Password Log</a>
    </li>
}

<div class="page-content">
    <div class="page-header">
        <h1>Forgot Password Log Report</h1>
           <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="lbl">Login</label>
                                <input id="login" type="text" class="input-sm form-control" placeholder="Type Login/email">
                            </div>
                            <div class="col-sm-2">
                                <label class="lbl">Start Date</label>
                                <input id="sdate" class="input-sm form-control" type="date" data-date-format="dd-mm-yyyy">
                            </div>
                            <div class="col-sm-2">
                                <label class="lbl">End Date</label>
                                <input id="edate" class="input-sm form-control" type="date" data-date-format="dd-mm-yyyy">
                            </div>
                            <div class="col-sm-1" style="padding-top: 15px">
                                <a role="button" class="pull-right btn-new-mail" data-toggle="modal" id="search">
                                    <span class="btn btn-purple no-border">
                                        <i class="menu-icon fa fa-search"></i>
                                        <span class="bigger-110">Search</span>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                   
                 
                </div>
            </div>
    </div>
    <!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                        <div class="col-sm-10">
                            <div class="col-sm-2">
                                Page Size:
                                <select id="cmbPageSizeSearch">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>

                            </div>
                            <div class="col-sm-2">
                                <span id="spResultsFound"></span>
                            </div>
                          
                        </div>
                    </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="message-list-container">
                        <div class="message-list" id="LoginHistory">
                            <table id="simple-table6" class="table  table-bordered table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="hr hr-18 dotted hr-double"></div>
            <div class="modal-footer no-margin-top">
                <ul class="pagination pull-right no-margin">
                  
                </ul>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- PAGE CONTENT ENDS -->
</div>
<!-- main.cont -->
@section PopupsAndTemplates
{
    <script id="ForgotPasswordLogTemplate" type="text/x-handlebars-template">
    <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Token</th>
            <th>Machine IP</th>
            <th>URL</th>
            <th>Found</th>
            <th>IsUsed</th>
            <th>EntryTime</th>
        </tr>
    </thead>
    <tbody>
        {{#each ForgotPasswordLogList}}
        <tr>
            <td>{{ID}}</td>
            <td>{{Login}}</td>
            <td>{{Token}}</td>
            <td>{{MachineIP}}</td>
            <td>{{URL}}</td>
            <td>{{Found}}</td>
            <td>{{IsUsed}}</td>
            <td>{{EntryDateTimeStr}}</td>
        </tr>
        {{/each}}
    </tbody>
</script>
}