@{

    Layout = "~/Views/Shared/_PublicLayout.cshtml";

}
@section Header
{
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/mywebapp/ChangePassword/mywebapp.ui.ResetPassword1.js")"></script>*@
    @Scripts.Render("~/bundles/resetpassword")
}
@section scripts
{
    <script type="text/javascript">

        try { ace.settings.loadState('main-container') } catch (e) { }

        $(document).ready(function () {
            MyWebApp.UI.ResetPassword1.readyMain();
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('body').attr('class', 'login-layout light-login');
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
        //you don't need this, just used for changing background
    </script>
}



<!-- ace settings handler -->
<div class="main-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <input type="hidden" id="txtData" value="@ViewBag.data" />

                <div class="center">
                    @*<h1></h1>
                        <img height="150" width="140" src="~/images/pucit/PUCIT_Logo.png" />*@
                    <h1>
                        <span class="blue" id="id-text2">Student Request Portal</span>
                    </h1>
                    <h5 class="blue" id="id-company-text">Punjab University College of Information Technology</h5>
                </div>

                <div class="space-6"></div>

                <div class="position-relative">
                    <div id="login-box" style="width:410px" class="login-box visible widget-box no-border">
                        <div class="widget-body" style="width:410px">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">Reset Your Password!</h4>

                                <div class="space-6"></div>

                                <form class="form-horizontal">
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs padding-16">

                                            <li class="active">
                                                <a data-toggle="tab" href="#edit-password">
                                                    <i class="blue ace-icon fa fa-key bigger-125"></i>
                                                    Password
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content profile-edit-tab-content" style="width: 350px;height:auto;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;">
                                            <div id="edit-password">
                                                <div class="space-10"></div>

                                                <div class="space-4"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">New Password</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" id="form-field-pass2" />
                                                    </div>
                                                </div>
                                                <div class="space-4"></div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-pass3">Confirm New Password</label>
                                                    <div class="col-sm-9">
                                                        <input type="password" id="form-field-pass3" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions center">


                                        <button class="btn btn-sm btn-info" type="button" id="SaveButton">
                                            <i class="ace-icon fa fa-check "></i>
                                            Update
                                        </button>

                                        <button class="btn btn-sm" type="reset">
                                            <i class="ace-icon fa fa-undo "></i>
                                            Clear
                                        </button>

                                        <a href='@Url.Content("~")' class="btn-sm  btn btn-primary">Go to Login?</a>
                                    </div>

                                </form>


                                <div class="space-6"></div>
                            </div>
                            <!-- /.widget-main -->


                        </div>
                        <!-- /.widget-body -->
                    </div>


                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>
