@{
    Layout = null;
}

<div id="divYesNoCustomModal" class="modal in" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="blue bigger">
                    <span class="yesnoheader">Header Text</span>
                    <button type="button" id="btnDivYesNoCustomNoCloseButton" class="close" data-dismiss="modal">×</button>
                </h4>
            </div>
            <div class="modal-body" style="width:400px">
                <div class="row">
                    <div class="col-xs-8">
                        <p class="yesnotext">Popup Body?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" id="btnDivYesNoCustomYes">
                    <i class="ace-icon fa fa-check"></i>
                    Yes
                </button>
                <button class="btn btn-sm" data-dismiss="modal" id="btnDivYesNoCustomNo">
                    <i class="ace-icon fa fa-times"></i>
                    No
                </button>

            </div>
        </div>
    </div>
</div>